@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
:root {
  --cyan-from-logo: #00b9cf;
  --gray-from-logo: #494f56;
}

@-webkit-keyframes pulse-social-link {
  from {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  to {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }
}

@keyframes pulse-social-link {
  from {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  to {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.main-content-title {
  display: block;
  pointer-events: none;
}

.main-content-title h1 {
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  font-size: 7rem;
  letter-spacing: 15px;
  color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
}

@media screen and (max-width: 999px) {
  .main-content-title h1 {
    font-size: 2rem;
    width: 85vw;
    text-align: center;
    letter-spacing: 10px;
  }
}

.main-content-title h1 .clr-cyan {
  color: var(--cyan-from-logo);
  opacity: 0.25;
}

.main-content-title h1 .no-space {
  letter-spacing: 0;
}

body {
  background: url("http://up419.siz.co.il/up2/tz4urmyczmtj.jpg"), rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  overflow-x: hidden;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 100px;
}

@media screen and (max-width: 999px) {
  .page-header {
    padding: 30px 40px;
  }
}

.page-header .social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .social i {
  font-size: 2rem;
  margin-right: 0.7rem;
  cursor: pointer;
  color: white;
  opacity: 0.6;
}

@media screen and (max-width: 999px) {
  .page-header .social i {
    font-size: 1.4rem;
  }
}

.page-header .social i:hover {
  opacity: 1;
}

.page-header .social .phone-numbers {
  font-family: "Assistant", sans-serif;
  margin-left: 25px;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 999px) {
  .page-header .social .phone-numbers {
    margin-left: 12.5px;
  }
}

@media screen and (min-width: 999px) {
  .page-header .social .phone-numbers a {
    pointer-events: none;
  }
}

.page-header .social .phone-numbers p {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 999px) {
  .page-header .social .phone-numbers p {
    font-size: 0.7rem;
  }
}

.page-header .social .phone-numbers p .name {
  font-weight: 700;
}

.page-header .social .phone-numbers p .number {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
}

@media screen and (max-width: 999px) {
  .page-header .social .phone-numbers p::after {
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 2px;
  }
}

.page-header .nav-bar-btns {
  position: relative;
}

.page-header .nav-bar-btns i {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 999px) {
  .page-header .nav-bar-btns i {
    font-size: 1.4rem;
  }
}

.page-header .nav-bar-btns .fa-bars {
  opacity: 0.6;
}

.page-header .nav-bar-btns .fa-bars:hover {
  opacity: 1;
}

.page-header .bg-black-for-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1110;
  background: #000;
  opacity: 0.85;
  display: none;
}

.page-header .nav-bar-element {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  background: var(--gray-from-logo);
  z-index: 1111;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@media screen and (max-width: 999px) {
  .page-header .nav-bar-element {
    width: 100vw;
  }
}

.page-header .nav-bar-element .close-btn {
  display: block;
  padding: 30px;
}

.page-header .nav-bar-element .close-btn .fa-times {
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.6;
}

.page-header .nav-bar-element .close-btn .fa-times:hover {
  opacity: 1;
}

.page-header .nav-bar-element .nav-links {
  height: calc(100% - 92px);
  padding: 30px;
}

.page-header .nav-bar-element .nav-links .has-options .nav-link-title {
  position: relative;
}

.page-header .nav-bar-element .nav-links .has-options .nav-link-title::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.page-header .nav-bar-element .nav-links .nav-link-active .nav-link-title::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.page-header .nav-bar-element .nav-links .nav-link {
  font-family: "Assistant", sans-serif;
  color: white;
  text-align: right;
  padding: 5px 0px;
  display: block;
  cursor: pointer;
  font-size: 1.4rem;
  border-top: 2px solid #ffffff;
}

@media screen and (max-width: 999px) {
  .page-header .nav-bar-element .nav-links .nav-link {
    font-size: 1.2rem;
    padding: 7.5px 12.5px;
    text-align: center;
  }
}

.page-header .nav-bar-element .nav-links .nav-link-title {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 15px 25px;
}

.page-header .nav-bar-element .nav-links .nav-link-options {
  display: none;
}

.page-header .nav-bar-element .nav-links .nav-link-options a {
  text-decoration: none;
  color: white;
}

.page-header .nav-bar-element .nav-links .nav-link-options--option {
  padding: 5px 25px 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 999px) {
  .page-header .nav-bar-element .nav-links .nav-link-options--option {
    margin-top: 2.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

@media screen and (min-width: 999px) {
  .page-header .nav-bar-element .nav-links .nav-link-options--option:hover {
    color: var(--cyan-from-logo);
    background: #fff;
  }
}

@media screen and (min-width: 999px) {
  .page-header .nav-bar-element .nav-links .nav-link:hover .nav-link-title {
    font-weight: 700;
    color: var(--cyan-from-logo);
    background: #fff;
  }
  .page-header .nav-bar-element .nav-links .nav-link:hover::after {
    color: var(--cyan-from-logo);
  }
}

.page-header .nav-bar-element .nav-links .nav-link-active .nav-link-title {
  font-weight: 700;
  color: var(--cyan-from-logo);
  background: #fff;
}

.page-header .nav-bar-element .nav-links .nav-link-active::after {
  color: var(--cyan-from-logo);
}

.page-header .nav-bar-element .nav-links .nav-link.border-bottom {
  border-bottom: 2px solid #ffffff;
}
/*# sourceMappingURL=style.css.map */