.main-contact-content {
    direction: rtl;
    position: relative;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(black, 0.7);
    border-radius: 20px;
    border: 2px solid rgba($color: white, $alpha: 0.5);
    margin-bottom: 15px;
    padding: 50px 80px;
    display: flex;
    * {
        font-family: $hebrow-font;
    }

    @include breakpoint-less(large) {
        width: 90vw;
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }

    .contact-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        @include breakpoint-less(large) {
            width: 100%;
        }

        h3 {
            color: white;
        }
        .contact-form__input-div {
            position: relative;
            transition: all 0.3s ease-in-out;

            .mail-send,
            .mail-send-error {
                width: 85%;
                font-family: $hebrow-font;
                color: var(--gray-from-logo);
            }
            .mail-send{
                background-color: #04aa04;
            }
            .mail-send-error{
                background-color: tomato;
            }

            input,
            textarea {
                width: 85%;
                font-size: 1rem;
                padding: 10px 20px;
                margin-top: 10px;
                outline: none;
                border: none;
                background-color: var(--gray-from-logo);
                color: #ffffff;
                font-family: $hebrow-font;
            }
            textarea {
                height: 235px;
                resize: none;
            }
            &::before,
            &::after {
                transition: all 0.4s ease-in-out;
            }

            &::before {
                content: "";
                border-right: $active-border-contact-input;
                border-left: $active-border-contact-input;
                position: absolute;
                top: 10px;
                bottom: 0;
                right: 0;
                left: 15%;
                transform: scaleY(0);
                @include breakpoint-less(large) {
                    left: 7.5%;
                    right: 7.5%;
                }
            }
            &::after {
                content: "";
                border-top: $active-border-contact-input;
                border-bottom: $active-border-contact-input;
                position: absolute;
                top: 10px;
                bottom: 0;
                right: 0;
                left: 15%;
                transform: scaleX(0);
                @include breakpoint-less(large) {
                    left: 7.5%;
                    right: 7.5%;
                }
            }
            &-active {
                &::before {
                    transform: scaleY(1);
                }
                &::after {
                    transform: scaleX(1);
                }
            }
        }
        .contact-form__submit-div {
            input {
                background-color: var(--cyan-from-logo);
                color: var(--gray-from-logo);
                padding: 15px 40px;
                font-weight: 700;
                font-size: 1rem;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                margin-top: 15px;
                transition: 0.2s ease-in-out;
                &:hover {
                    color: var(--cyan-from-logo);
                    background-color: var(--gray-from-logo);
                }
            }
        }
    }

    .contact-info {
        padding-right: 50px;
        @include breakpoint-less(large) {
            margin-top: 25px;
            padding-right: 0;
        }
        .conatct-info__in-div {
            margin-top: 23px;
            margin-right: 50px;
            margin-bottom: 15px;
            @include breakpoint-less(large) {
                margin-right: 0;
            }
            p {
                color: #ffffff;
            }
            .contact-info__title {
                color: var(--cyan-from-logo);
                font-weight: 700;
                margin-bottom: 5px;
            }
        }
        .contact-info__address {
            .contact-info__title {
                position: relative;

                &::before {
                    content: "\f3c5";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: #ffffff;
                    position: absolute;
                    right: -50px;
                    @include breakpoint-less(large) {
                        right: 50px;
                    }
                }
            }
            &-icons {
                margin-top: 5px;
                i {
                    font-size: 2rem;
                    color: white;
                }
            }
        }
        .contact-info__phones {
            margin-top: 43px;
            .contact-info__title {
                position: relative;

                &::before {
                    content: "\f095";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: #ffffff;
                    position: absolute;
                    right: -50px;
                    @include breakpoint-less(large) {
                        right: 50px;
                    }
                }
            }
            a {
                pointer-events: none;

                @include breakpoint-less(large) {
                    pointer-events: all;
                }
            }
            p {
                font-weight: 700;

                span {
                    font-weight: 400;
                    color: rgba($color: white, $alpha: 0.85);
                }
            }
        }
    }
}
