footer {
    direction: rtl;
    position: relative;
    margin-top: 50px;
    bottom: 0%;
    width: 100vw;
    padding: 10px 50px;
    background-color: black;
    z-index: 11111111;
    display: flex;
    color: #fff;
    @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
    font-family: "Assistant", sans-serif;
    @include breakpoint-less(large){
        padding: 10px 25px;
        margin: 0;
    }
    .right{
        flex: 1;
        
    }
    .left{
        direction: ltr;
    }
    .left, .right{
        @include breakpoint-less(large){
            font-size: .7rem;
        }
        a{
            text-decoration: none;
            color: white;
            font-weight: 700;
            &:hover{
                color: var(--cyan-from-logo);
            }
        }
    }
}
