.main-pt_approach-content {
    direction: rtl;
    position: relative;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(black, 0.7);
    padding: 50px 80px;
    border-radius: 20px;
    border: 2px solid rgba($color: white, $alpha: 0.5);
    margin-bottom: 15px;

    @include breakpoint-less(large){
        width: 90vw;
        padding: 25px 40px;
    }

    .text {
        color: white;
        margin-bottom: 40px;
        @include breakpoint-less(large){
            margin-bottom: 20px;
        }
        p {
            font-family: $hebrow-font;
            margin-bottom: 25px;
            text-align: right;
            font-size: 1.3rem;
            &:last-child {
                margin-bottom: 0px;
            }
            @include breakpoint-less(large){
                font-size: 1rem;
                margin-bottom: 12.5px;
            }
        }
    }
    .media {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 250px);
        gap: 30px;
        @include breakpoint-less(large) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 250px);
            gap: 15px;
        }
        .media-item {
            display: flex;
            align-items: flex-start;
            position: relative;
            &-src {
                width: 100%;
                height: 100%;
                border: 4px solid var(--gray-from-logo);
                border-radius: 10px;
                background: black;
            }
            &-text{
                // direction: rtl;
                padding: 5px 10px;
                position: absolute;
                right: 5px;
                left: 5px;
                top: -10px;
                opacity: 0;
                transition: all .3s ease-in-out;
                border-radius: 5px;
                pointer-events: none;
                @include breakpoint-less(large){
                    top: 5px;
                    opacity: 1;
                    background-color: rgba($color: white, $alpha: 1);
                    font-size: .75em;
                }
                p{
                    font-family: $hebrow-font;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1em;
                }
            }
            &:hover{
                .media-item-text{
                    top: 5px;
                    opacity: 1;
                    background-color: rgba($color: white, $alpha: 1);
                }

            }
        }
    }
}
