body {
    background: url("http://up419.siz.co.il/up2/tz4urmyczmtj.jpg"), rgba($color: black, $alpha: 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    overflow-x: hidden;
}

.landing-page-header {
    display: flex;
    padding: 50px 100px;
    @include breakpoint-less(large) {
        padding: 30px 40px;
    }

    .social {
        flex: 1;
        display: flex;
        align-items: center;

        i {
            font-size: 2rem;
            @include breakpoint-less(large) {
                font-size: 1.4rem;
            }
            margin-right: 0.7rem;
            cursor: pointer;
            color: white;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }

        .phone-numbers {
            @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
            font-family: "Assistant", sans-serif;
            margin-left: 25px;
            text-align: right;
            align-items: center;
            @include breakpoint-less(large) {
                margin-left: 12.5px;
            }

            a {
                @include breakpoint(large) {
                    pointer-events: none;
                }
            }

            p {
                text-decoration: none;
                color: white;
                font-size: 1rem;
                @include breakpoint-less(large) {
                    font-size: 0.7rem;
                }

                .name {
                    font-weight: 700;
                }
                .number {
                    text-decoration: none;
                    color: rgba(white, 0.75);
                    text-align: left;
                }
                &::after {
                    @include breakpoint-less(large) {
                        content: "\f095";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-left: 2px;
                    }
                }
            }
        }
    }
    .nav-bar-btns {
        position: relative;
        i {
            font-size: 2rem;
            @include breakpoint-less(large) {
                font-size: 1.4rem;
            }
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: white;
        }
        .fa-bars {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }

    .bg-black-for-nav-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1110;
        background: #000;
        opacity: 0.85;
        display: none;
    }
    .nav-bar-element {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 400px;
        background: var(--gray-from-logo);
        z-index: 1111;
        transform: scaleX(0);
        transform-origin: right;
        @include breakpoint-less(large) {
            width: 100vw;
        }
        transition: transform 500ms ease-in-out;

        .close-btn {
            display: block;
            padding: 30px;
            .fa-times {
                font-size: 2rem;
                cursor: pointer;
                color: #ffffff;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
            }
        }

        .nav-links {
            height: 100%;
            padding: 30px;

            .has-options {
                .nav-link-title{
                    position: relative;
                    &::after {
                        content: "\f077";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 1rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 15px;
                        transition: transform 0.3s ease-in-out;
                    }
                }
                
            }
            .nav-link-active {
                .nav-link-title{
                    &::after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }

            .nav-link {
                @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
                font-family: "Assistant", sans-serif;
                color: white;
                text-align: right;
                padding: 5px 0px;
                display: block;
                cursor: pointer;
                font-size: 1.4rem;
                @include breakpoint-less(large) {
                    font-size: 1.2rem;
                    padding: 7.5px 12.5px;
                    text-align: center;
                }

                border-top: 2px solid #ffffff;
                &-title {
                    transition: all 0.3s ease-in-out;
                    padding: 15px 25px;
                }
                &-options {
                    display: none;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                    &--option {
                        padding: 5px 25px 5px 0;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: var(--cyan-from-logo);
                            background: #fff;
                        }
                    }
                }
                &:hover{
                    @include breakpoint(large){
                        .nav-link-title {
                            font-weight: 700;
                            color: var(--cyan-from-logo);
                            background: #fff;
                        }
                        &::after {
                            color: var(--cyan-from-logo);
                        }
                    }
                }
                &-active {
                    .nav-link-title {
                        font-weight: 700;
                        color: var(--cyan-from-logo);
                        background: #fff;
                    }
                    &::after {
                        color: var(--cyan-from-logo);
                    }
                }
                &:last-child {
                    border-bottom: 2px solid #ffffff;
                }
            }
        }
    }
}
